services:
  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: stt
      POSTGRES_PASSWORD: stt
      POSTGRES_DB: stt_test
    volumes:
      - pg_data_test:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "stt", "-d", "stt_test" ]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  pg_data_test:
